{
 :users {
  "yeKFqj7rX" {:name "chen", :id "yeKFqj7rX", :nickname "chen", :avatar nil, :password "d41d8cd98f00b204e9800998ecf8427e", :theme :star-trail}
 }
 :ir {
  :package "map-spec"
  :files {
   "map-spec.main" {
    :ns {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "WD4drWEfD9"
     :data {
      "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "ns", :id "jeg5aDS4Wa"}
      "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "map-spec.main", :id "Hvc4wCBXc4"}
      "r" {
       :type :expr, :by "yeKFqj7rX", :at 1534483679032, :id "nGyImxkqpB"
       :data {
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483683346, :text ":require", :id "pV7hKeldu"}
        "j" {
         :type :expr, :by "yeKFqj7rX", :at 1560962292629, :id "cN2gusJF4"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962294665, :text "[]", :id "Akvz4NcxU"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962299106, :text "map-spec.core", :id "xPKO6ztfP-"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1560962299846, :text ":refer", :id "zGRW2yVHRu"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1560962300040, :id "iq07b_rHuh"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962300270, :text "[]", :id "2d6WnMVvad"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962301516, :text "map-spec", :id "HG5WgyjmKo"}
           }
          }
         }
        }
        "r" {
         :type :expr, :by "yeKFqj7rX", :at 1560962401605, :id "JkS9J-pZ2"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962402627, :text "[]", :id "JkS9J-pZ2leaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962405959, :text "cljs.spec.alpha", :id "ARuUBCoP9v"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1560962406591, :text ":as", :id "2W0x3PNYvI"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1560962406900, :text "s", :id "jHdSaZs5XG"}
         }
        }
        "v" {
         :type :expr, :by "yeKFqj7rX", :at 1560962591595, :id "n7TkV67HM"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962591944, :text "[]", :id "n7TkV67HMleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962606625, :text "expound.alpha", :id "9nMGpSzW3S"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1560962597012, :text ":refer", :id "efIXIl_W2p"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1560962597160, :id "M8sfDQtCqG"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962597365, :text "[]", :id "41RfEnKBIs"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962599449, :text "expound", :id "POWXgSKUBe"}
           }
          }
         }
        }
       }
      }
     }
    }
    :defs {
     "::example" {
      :type :expr, :by "yeKFqj7rX", :at 1560962422621, :id "bOV0K2QjX3"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962424258, :text "s/def", :id "KTqxUp4v-I"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962422621, :text "::example", :id "37_15Kcqyy"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1560962422621, :id "6JoNS3DBN6"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962430297, :text "map-spec", :id "9mncLMzcP7"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962434161, :text ":req", :id "oz65jVH97"}
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1560962434540, :id "HBC41mOTh"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962436263, :text "{}", :id "bBQVNI_rKj"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1560962436629, :id "ma57BMt3l"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962443956, :text ":foo", :id "YA6eJreKfY"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962445633, :text "string?", :id "UhWU--jDKR"}
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1560962446895, :id "p0TJMr5PBq"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962451862, :text "\"bar", :id "p0TJMr5PBqleaf"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962456772, :text "number?", :id "M-Ui5xt87Z"}
            }
           }
          }
         }
         "v" {:type :leaf, :by "yeKFqj7rX", :at 1560962466054, :text ":closed?", :id "Jmf1PRHcu7"}
         "x" {:type :leaf, :by "yeKFqj7rX", :at 1560962466675, :text "true", :id "pT9HkTWWQ_"}
        }
       }
      }
     }
     "main!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "SWvtON639q"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "defn", :id "0OZDgsAOvf"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "main!", :id "mI-t3ViWvV"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "lP6uJuLIHa"
        :data {}
       }
       "v" {
        :type :expr, :by "yeKFqj7rX", :at 1534483219154, :id "7MO0wI6pRH"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483220269, :text "println", :id "7MO0wI6pRHleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483646733, :text "\"Started.", :id "QtyUDYYqzh"}
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1560962183322, :id "5vST6T72U"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962188898, :text "task!", :id "5vST6T72Uleaf"}
        }
       }
      }
     }
     "reload!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "-BOhJzActg"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "defn", :id "78G4OkYMQ2"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "reload!", :id "uDkGHYSsJo"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "Lpt5qqH2Vl"
        :data {}
       }
       "w" {
        :type :expr, :by "yeKFqj7rX", :at 1534483614325, :id "ZaXHdfRAS"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483615196, :text ".clear", :id "ZaXHdfRASleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483618012, :text "js/console", :id "KTDkK3SQO"}
        }
       }
       "wT" {
        :type :expr, :by "yeKFqj7rX", :at 1534483228056, :id "nvVffdJ4rl"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483228922, :text "println", :id "_PKSES8fGyleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483648553, :text "\"Reloaded.", :id "EGqaOPxjzt"}
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1534483605981, :id "2Uk-oEu7q3"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962196137, :text "task!", :id "2Uk-oEu7q3leaf"}
        }
       }
      }
     }
     "task!" {
      :type :expr, :by "yeKFqj7rX", :at 1560962196610, :id "YFgrKkcekJ"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962196610, :text "defn", :id "zlGUETtHJB"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962196610, :text "task!", :id "rmELJVBpoY"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1560962196610, :id "hmZJgccvh6"
        :data {}
       }
       "v" {
        :type :expr, :by "yeKFqj7rX", :at 1560962418235, :id "mQw17HH9a"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962479842, :text "println", :id "mQw17HH9aleaf"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1560962480481, :id "SMOHxBUycQ"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962483596, :text "s/valid?", :id "fjV_9JIU0p"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962485883, :text "::example", :id "75VrB9ySf9"}
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1560962488572, :id "Rb-Sjupfu"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962488866, :text "{}", :id "LsCNyAdBcR"}
            }
           }
          }
         }
        }
       }
       "w" {
        :type :expr, :by "yeKFqj7rX", :at 1560962418235, :id "_oSmcbhJx"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962479842, :text "println", :id "mQw17HH9aleaf"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1560962480481, :id "SMOHxBUycQ"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962483596, :text "s/valid?", :id "fjV_9JIU0p"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962485883, :text "::example", :id "75VrB9ySf9"}
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1560962488572, :id "Rb-Sjupfu"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962488866, :text "{}", :id "LsCNyAdBcR"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1560962527554, :id "FM8lDnWFa"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962522083, :text ":foo", :id "2MNdHTgn-"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962528919, :text "\"foo", :id "893UL4kVT2"}
              }
             }
             "r" {
              :type :expr, :by "yeKFqj7rX", :at 1560962530629, :id "oBzodZ_Z0"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962531714, :text "\"bar", :id "OOqkEFGMmH"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962532528, :text "1", :id "QOBPa8Z2HU"}
              }
             }
            }
           }
          }
         }
        }
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1560962418235, :id "2yDmhQTRC"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962479842, :text "println", :id "mQw17HH9aleaf"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1560962480481, :id "SMOHxBUycQ"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962506516, :text "s/explain", :id "fjV_9JIU0p"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962485883, :text "::example", :id "75VrB9ySf9"}
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1560962488572, :id "Rb-Sjupfu"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962488866, :text "{}", :id "LsCNyAdBcR"}
            }
           }
          }
         }
        }
       }
       "xT" {
        :type :expr, :by "yeKFqj7rX", :at 1560962783575, :id "TD9JwxNpsK"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text "println", :id "pqRdvoXJ8I"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1560962783575, :id "ANTSjPl5pE"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962788641, :text "s/explain", :id "zGZ6XNDM-R"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text "::example", :id "0wktjPfWzN"}
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1560962783575, :id "6e2qWW6wk3"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text "{}", :id "qWCWLxs24y"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1560962783575, :id "celVj8nux0"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text ":foo", :id "Fyh6pMzZLZ"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text "\"foo", :id "WyB9zk-RD5"}
              }
             }
             "r" {
              :type :expr, :by "yeKFqj7rX", :at 1560962783575, :id "pRKsW03LGL"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text "\"bar", :id "6XjL2avluo"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text "1", :id "UaRw4XGAX6"}
              }
             }
             "v" {
              :type :expr, :by "yeKFqj7rX", :at 1560962783575, :id "1bsF_xg7HX"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text ":extra", :id "FxzrDLL1bh"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962783575, :text "1", :id "DIcjuUSN7gq"}
              }
             }
            }
           }
          }
         }
        }
       }
       "y" {
        :type :expr, :by "yeKFqj7rX", :at 1560962418235, :id "qFMDDtNio"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962479842, :text "println", :id "mQw17HH9aleaf"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1560962480481, :id "SMOHxBUycQ"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962614825, :text "expound", :id "fjV_9JIU0p"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962485883, :text "::example", :id "75VrB9ySf9"}
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1560962488572, :id "Rb-Sjupfu"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1560962488866, :text "{}", :id "LsCNyAdBcR"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1560962623354, :text ":foo", :id "1xd5v7Mk2X"}
             "r" {:type :leaf, :by "yeKFqj7rX", :at 1560962624653, :text "\"foo", :id "Hl1_Jh0tD"}
            }
           }
          }
         }
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "mpzXR47-KZ"
     :data {}
    }
   }
  }
 }
 :configs {:storage-key "calcit.edn", :local-storage-key "calcit-storage", :extension ".cljs", :output "src", :port 6001}
}